//- 
  Принимает:
    content {string} - контент чекбокса   
    extraContent {string} - дополнительная информация, под основным контентом
    item: [{name:""}] {string} - значение аттрибута <input name="name">
    isDropped {bool} - открытый или закрытый чекбокс
    name {string} - подпись чекбокса
    isRich {bool} - жирный текст чекбокса
  Вызов:
    +checkbox({
          item: [
            {content: "Завтрак", name: "checkbox buttons"},
            {content: "Mожно пригласить гостей", extraContent: "(до 10 человек)", name: "checkbox buttons"},
          ],
          isDropped: true,
          name: 'expandable checkbox list',
          isRich: true
        }) 


mixin checkbox(options)
  - 
    var droppedClass = ""
    droppedClass += options.isDropped ? "checkbox-list_dropped" : "checkbox-list_active"
    var richClass = ""
    richClass += options.isRich ? "checkbox-button__content_rich" : ""
  .checkbox.js-checkbox
    .checkbox-header
      .checkbox-header__text= options.name
      if options.isDropped
        .checkbox-header__check-wrapper.js-checkbox-header__check-wrapper
          .checkbox-header__check-mark.js-checkbox-header__check-mark
    div(class = `checkbox-list js-checkbox-list ${droppedClass}`)
      each val in options.item
        .checkbox-button 
          input(class="checkbox-button__custom" type="checkbox" name=val.name value=val.content)
          label(class="checkbox-button__label" for=val.content)
            .checkbox-button__icon-out
              .checkbox-button__icon-in
            div(class=`checkbox-button__content ${richClass}`)= val.content
              if val.extraContent
                div(class=`checkbox-button__content ${richClass}`)= val.extraContent
              if options.isRich 
                div(class="checkbox-button__descr")= val.descr