//- Принимает:
//-   type {string} - модификатор кнопки
//-   name {string} - текст кнопки
//- Вызов:
        +simple-button({type: 'colored',text: 'click me'}) - цветная кнопка
        +simple-button({type: 'uncolored',text: 'click me'}) - нецветная кнопка
        +simple-button({type: 'no-border',text: 'click me'}) - кнопка без border
        +simple-button({type: 'long',text: 'click me'}) - широкая кнопка
        +simple-button({type: 'uncolored-header',text: 'click me'}) - нецветная кнопка для header
        +simple-button({type: 'long-header',text: 'click me'}) - широкая кнопка для header

mixin simple-button(options)
  - 
    var type = options.type
    var text = options.text
  case type 
    when 'colored'
      button(class='simple-button simple-button_colored')= text  
    when 'uncolored'
      button(class='simple-button simple-button_uncolored')= text
    when 'no-border'
      button(class='simple-button simple-button_no-border')= text
    when 'long'
      button(class='simple-button simple-button_long')= text
    when 'long-header'
      button(class='simple-button simple-button_header')= text
    when 'uncolored-header'
      button(class='simple-button simple-button_uncolored simple-button_uncolored_header')= text
    default 
      button(class='simple-button simple-button_colored')= text  