//- Принимает:
//-   content {string} - текст кнопки
//-   name {string} - аттрибут «name»
//-   isChecked {bool} - аттрибут «checked»
//- Вызов:
        +toggle-button({
          content: "some text", 
          name: "some name", 
          isChecked: true
        })

mixin toggle-button(options)
  .toggle-button
    if options.isChecked
      input(class="toggle-button__custom" type="checkbox" name=options.name options=options.content checked)
    else 
      input(class="toggle-button__custom" type="checkbox" name=options.name options=options.content)
    label(class="toggle-button__label" for=options.content)
      .toggle-button__icon-out
        .toggle-button__icon-in
      p(class="toggle-button__content")= options.content